packages:
  yum:
    - "chromium"
    - "chromium-headless"
    - "libX11"
    - "libXcomposite"
    - "libXcursor"
    - "libXdamage"
    - "libXext"
    - "libXi"
    - "libXtst"
    - "nss"
    - "glibc"
    - "libgcc"
    - "libstdc++"
    - "libdrm"
    - "mesa-libGL"
    - "atk"
    - "pango"
    - "gtk3"
    - "xorg-x11-fonts-Type1"
