packages:
  yum:
    - "chromium"
    - "chromium-headless"
    - "alsa-lib"
    - "atk"
    - "cups-libs"
    - "glib2"
    - "gtk3"
    - "libXScrnSaver"
    - "pango"
    - "xorg-x11-fonts-100dpi"
    - "xorg-x11-fonts-75dpi"
    - "xorg-x11-fonts-cyrillic"
    - "xorg-x11-fonts-misc"
    - "xorg-x11-fonts-Type1"
    - "xorg-x11-utils"
    - "xorg-x11-fonts-ISO8859-1-75dpi"
    - "libXcomposite"
    - "libXcursor"
    - "libXdamage"
    - "libXext"
    - "libXi"
    - "libXtst"
    - "nss"
    - "glibc"
    - "libgcc"
    - "libstdc++"
    - "libdrm"
    - "mesa-libGL"
    - "libXrandr"
    - "libXrender"
    - "libxcb"
    - "libX11"
