packages:
  yum:
    chromium: []
    chromium-headless: []

commands:
  01_install_chrome_dependencies:
    command: |
      sudo yum update -y
      sudo yum install -y mesa-libGL

  02_link_chrome:
    command: |
      sudo ln -s /usr/bin/chromium-browser /usr/bin/google-chrome
      google-chrome --version || echo "Chrome installation failed"