packages:
  yum:
    mesa-libGL: []
    atk: []
    pango: []
    cups-libs: []
    xorg-x11-fonts-Type1: []
    xorg-x11-fonts-misc: []

commands:
  01_download_chromium:
    command: |
      wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
      sudo yum install -y ./google-chrome-stable_current_x86_64.rpm || echo "Chrome installation failed"

  02_link_chrome:
    command: |
      sudo ln -s /usr/bin/google-chrome /usr/bin/chromium-browser
      chromium-browser --version || echo "Chrome installation failed"
